In [25]:
import pandas as pd
df = pd.read_csv("data.csv",encoding='latin1',header=0)
df.shape

(18207, 89)

In [89]:
df.describe()

,Unnamed: 0,Overall,Potential,Value,Special,International Reputation,Skill Moves,Crossing,Finishing,HeadingAccuracy,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
count,18207.000000,18206.000000,18207.000000,1.820700e+04,18207.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,...,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000
mean,9103.000000,66.237449,71.307299,2.410696e+06,1597.809908,1.113222,2.361308,49.734181,45.550911,52.298144,...,48.548598,58.648274,47.281623,47.697836,45.661435,16.616223,16.391596,16.232061,16.388898,16.710887
std,5256.052511,6.907059,6.136496,5.594933e+06,272.586016,0.394031,0.756164,18.364524,19.525820,17.379909,...,15.704053,11.436133,19.904397,21.664004,21.289135,17.695349,16.906900,16.502864,17.034669,17.955119
min,0.000000,46.000000,48.000000,0.000000e+00,731.000000,1.000000,1.000000,5.000000,2.000000,4.000000,...,5.000000,3.000000,3.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,4551.500000,62.000000,67.000000,3.000000e+05,1457.000000,1.000000,2.000000,38.000000,30.000000,44.000000,...,39.000000,51.000000,30.000000,27.000000,24.000000,8.000000,8.000000,8.000000,8.000000,8.000000
50%,9103.000000,66.000000,71.000000,6.750000e+05,1635.000000,1.000000,2.000000,54.000000,49.000000,56.000000,...,49.000000,60.000000,53.000000,55.000000,52.000000,11.000000,11.000000,11.000000,11.000000,11.000000
75%,13654.500000,71.000000,75.000000,2.000000e+06,1787.000000,1.000000,3.000000,64.000000,62.000000,64.000000,...,60.000000,67.000000,64.000000,66.000000,64.000000,14.000000,14.000000,14.000000,14.000000,14.000000
max,18206.000000,94.000000,95.000000,1.185000e+08,2346.000000,5.000000,5.000000,93.000000,95.000000,94.000000,...,92.000000,96.000000,94.000000,93.000000,91.000000,90.000000,92.000000,91.000000,90.000000,94.000000

                     Name   Wage        Value
0                L. Messi  Â€565K  110500000.0
1       Cristiano Ronaldo  Â€405K   77000000.0
2               Neymar Jr  Â€290K  118500000.0
3                  De Gea  Â€260K   72000000.0
4            K. De Bruyne  Â€355K  102000000.0
...                   ...    ...          ...
18202        J. Lundstram    Â€1K      60000.0
18203  N. Christoffersson    Â€1K      60000.0
18204           B. Worman    Â€1K      60000.0
18205      D. Walker-Rice    Â€1K      60000.0
18206           G. Nugent    Â€1K      60000.0

[18207 rows x 3 columns]